@using Clinic.DAL
@model IEnumerable<Doctor>
@{
    ViewData["Title"] = "Index";
}
<div class="p-3">
    @foreach (var obj in Model)
    {
        <div class="card mb-2">
            <div class="card-body d-flex justify-content-between">
                <div>
                    <h4 class="card-title fw-bold">Doctor Name<span class="fw-light fs-5">: @obj.Name</span> </h4>
                    <h4 class="card-text fw-bold">Doctor Specialty <span class="fw-light fs-5">: @obj.Specialty</span></h4>
                </div>
                <div>
                    <a asp-controller="Doctor" asp-action="DoctorAppointment" asp-route-id="@obj.DoctorId" class="btn btn-primary">View Appointments</a>
                </div>
            </div>
        </div>
    }
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">
    <i class="bi bi-plus-circle"></i> Back
</a>

