@using Clinic.DAL
@model CreateAppointmentViewModel

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-warning mt-3">
        <p>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <h6>@error.ErrorMessage</h6>
            }
        </p>
     </div>
}
<form asp-action="Create" method="post" class="p-4">
    <div class="form-group py-2">
        <label asp-for="DoctorName" class="control-label"></label>
        <select asp-for="DoctorName">
            <option value="">-- Select Doctor --</option>
            @foreach (var doctor in ViewBag.Doctors)
            {
                <option value="@doctor.Name">@doctor.Name</option>

            }
            
            <span asp-validation-for="DoctorName" class="text-danger"></span>
        </select>
    </div>
    <div class="form-group py-2">
        <label asp-for="PatientName" class="control-label"></label>
        <input asp-for="PatientName" class="form-control">
        <span asp-validation-for="PatientName" class="text-danger"></span>
    </div>
    <div class="form-group py-2">
        <label asp-for="PatientBirthDate" class="control-label"></label>
        <input asp-for="PatientBirthDate" class="form-control" />
        <span asp-validation-for="PatientBirthDate" class="text-danger"></span>
    </div>
    <div class="form-group py-2">
        <label asp-for="PatientPhone" class="control-label"></label>
        <input asp-for="PatientPhone" class="form-control" />
        <span asp-validation-for="PatientPhone" class="text-danger"></span>
    </div>
    <div class="form-group py-2">
        <label asp-for="AppointmentDate" class="control-label"></label>
        <input asp-for="AppointmentDate" class="form-control" />
        <span asp-validation-for="AppointmentDate" class="text-danger"></span>
    </div>
    <div class="form-group py-2">
        <label asp-for="AppointmentTime" class="control-label"></label>
        <input asp-for="AppointmentTime" class="form-control" />
        <span asp-validation-for="AppointmentTime" class="text-danger"></span>
    </div>
    <div class="form-group pt-3">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-controller="Home" asp-action="Index" class="btn btn-light">
            <i class="bi bi-plus-circle"></i> Back
        </a>
    </div>
</form>
